body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    margin: 0; /* Elimina márgenes por defecto */
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Espacio entre el encabezado y el resto del contenido */
}

.logo {
    width: 100px; /* tamaño del logo */
    height: auto;
    margin-right: 20px; /* Espacio entre el logotipo y el título */
}

.titulo {
    font-size: 2em; /* Tamaño de la fuente para el título */
    color: #ffffff; /* Color del texto */
    font-family: 'Roboto', sans-serif; /* Ejemplo de una tipografía diferente, asegúrate de cargarla */
}
.container {
  max-width: 600px; /* Ancho máximo del formulario */
  width: 100%; /* Se ajusta al 100% del contenedor */
  padding: 20px; /* Espacio interno */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  border-radius: 8px; /* Bordes redondeados */
  background-color: #222; /* Fondo del contenedor (gris oscuro) */
  margin: 0 auto; /* Centra horizontalmente el contenedor */
}
.card {
  background-color: #333; /* Fondo de la tarjeta */
  color: #fff; /* Texto en la tarjeta */
}
h1, h3, h4 {
  color: #fff; /* Texto en blanco para los encabezados */
}

.btn-primary {
  background-color: #007bff; /* Color del botón */
  border: none; /* Elimina borde */
}

.btn-primary:hover {
  background-color: #4800b3; /* Color del botón al pasar el ratón */
}
.texto-blanco {
  color: white; /* Cambia el color del texto a blanco */
  background-color: #ffffff; /* Color de fondo opcional para mayor contraste */
  padding: 15px; /* Espacio interno alrededor del contenido */
  border-radius: 8px; /* Bordes redondeados */
}
.stockRojo {
  color: red;
}